#
# DEP-8: autopkgtest - automatic as-installed package testing
#        Please check * https://dep-team.pages.debian.net/deps/dep8/
#                     * /usr/share/doc/autopkgtest
#
Tests: credential-prototype
Restrictions: needs-root
